<a href="https://colab.research.google.com/github/ShahadAnazi/Week5_Assignments-/blob/main/1636325356__assignment_w5_c1_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 5, Assignment C1:

Logistic Regression with Yahoo! Finance API in Python

In this notebook, we will study Logistic Regression using the Yahoo! Finance API in Python.

Please complete the lines bellow where you see "#TODO".

In [122]:
#Objective 1.
#Use this cell to import the Numpy (as np), Pandas (as pd), and YFinance (as yf) packages.

import numpy as np
import pandas 

import yfinance as yf


#Our work will also require some components of the Sklearn and Pandas_Datareader packages as imported below:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from pandas_datareader import data as pdr
yf.pdr_override()

In [123]:
#Objective 2.
#Select a stock symbol for a stock whose historical data is available on the Yahoo! Finance website.  Store the
#string of your chosen symbol to the new variable "stock_symbol".

stock_symbol = 'TSLA'

In [124]:
#Objective 3.
#Use the function "pdr.get_data_yahoo(stock_symbol, start_date, end_date)" to generate a Pandas dataframe of
#historical stock data for your chosen stock.  Retain only the first four columns of the dataframe.  Be sure to 
#drop any rows containing NaN's, and take a peek at the resulting dataframe to make sure everything looks good.

df = pdr.get_data_yahoo(stock_symbol, pandas.Timestamp('2019'), pandas.Timestamp('2021'))
df = df[['Open','High','Low','Close']]
df = df.dropna()
df

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close
Date
2019-01-02   61.220001   63.026001   59.759998   62.023998
2019-01-03   61.400002   61.880001   59.476002   60.071999
2019-01-04   61.200001   63.599998   60.546001   63.537998
2019-01-07   64.344002   67.348000   63.549999   66.991997
2019-01-08   68.391998   68.802002   65.403999   67.070000
...                ...         ...         ...         ...
2020-12-24  642.989990  666.090027  641.000000  661.770020
2020-12-28  674.510010  681.400024  660.799988  663.690002
2020-12-29  661.000000  669.900024  655.000000  665.989990
2020-12-30  672.000000  696.599976  668.359985  694.780029
2020-12-31  699.989990  718.719971  691.119995  705.669983

[505 rows x 4 columns]

In [125]:
#Objective 4.
#Use the historical data to define some predictor variables.  Add these variables to the dataframe.  Include, at a
#minimum, (Predictor.I) the rolling average closing price over the past fifteen (15) days and (Predictor.II) the
#change in opening price over the past one (1) day.  Be sure to again drop any rows containing NaN's, and take a
#peek at the resulting dataframe to make sure everything looks good.  Store the dataframe as the new variable "X".

df['Close_15_Rolling'] = df['Close'].rolling(window=15).mean()
df['Open_1_Change'] = df['Open'].diff()
df = df.dropna()
X = df
df

                  Open        High  ...  Close_15_Rolling  Open_1_Change
Date                                ...
2019-01-23   58.500000   58.900002  ...         65.202666      -2.464001
2019-01-24   56.605999   58.736000  ...         64.954533      -1.894001
2019-01-25   58.877998   59.703999  ...         64.910267       2.271999
2019-01-28   58.582001   59.492001  ...         64.626133      -0.295998
2019-01-29   59.054001   59.712002  ...         64.126134       0.472000
...                ...         ...  ...               ...            ...
2020-12-24  642.989990  666.090027  ...        638.461336      10.789978
2020-12-28  674.510010  681.400024  ...        642.771338      31.520020
2020-12-29  661.000000  669.900024  ...        644.386670     -13.510010
2020-12-30  672.000000  696.599976  ...        647.380005      11.000000
2020-12-31  699.989990  718.719971  ...        654.126005      27.989990

[491 rows x 6 columns]

In [126]:
#Objective 5.
#Define the target or dependent variable to be one (1) if the change in closing price over the past one (1) day is
#nonnegative and negative one (-1) if the change in closing price over the past one (1) day is negative.  This
#variable's values should be forward-looking (i.e., you should subtract today's price from tomorrow's price rather
#than subtracting yesterday's price from today's price).  Store the resulting values as the new variable "y".  You
#may find the "np.where(*args)" function to be useful.  Look it up in Numpy documentation for support.

y = np.where((df.Close.shift(-1)-df['Close'])>=0,1,-1)

In [128]:
#Objective 6.
#Split the data into training and test sets, putting the first seventy percent (70%) of the data in the training
#set.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.7,random_state=10)
X_train

                  Open        High  ...  Close_15_Rolling  Open_1_Change
Date                                ...
2019-04-30   48.411999   48.841999  ...         52.226133       1.239998
2020-05-04  140.199997  152.399994  ...        148.634136     -10.800003
2019-06-11   43.827999   44.180000  ...         39.272800       1.778000
2019-02-25   59.582001   60.580002  ...         61.362000       0.684002
2020-01-27  108.398003  112.888000  ...        103.857332      -5.727997
...                ...         ...  ...               ...            ...
2020-04-30  171.037994  173.964005  ...        145.453335      13.003998
2019-02-13   62.470001   62.549999  ...         61.439733      -0.770000
2020-12-22  648.000000  649.880005  ...        628.758004     -18.239990
2019-07-23   51.341999   52.096001  ...         48.851467      -0.408001
2020-02-11  153.757996  156.701996  ...        135.310934      -6.242004

[147 rows x 6 columns]

In [129]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.7,random_state=10)
X_train

                  Open        High  ...  Close_15_Rolling  Open_1_Change
Date                                ...
2019-04-30   48.411999   48.841999  ...         52.226133       1.239998
2020-05-04  140.199997  152.399994  ...        148.634136     -10.800003
2019-06-11   43.827999   44.180000  ...         39.272800       1.778000
2019-02-25   59.582001   60.580002  ...         61.362000       0.684002
2020-01-27  108.398003  112.888000  ...        103.857332      -5.727997
...                ...         ...  ...               ...            ...
2020-04-30  171.037994  173.964005  ...        145.453335      13.003998
2019-02-13   62.470001   62.549999  ...         61.439733      -0.770000
2020-12-22  648.000000  649.880005  ...        628.758004     -18.239990
2019-07-23   51.341999   52.096001  ...         48.851467      -0.408001
2020-02-11  153.757996  156.701996  ...        135.310934      -6.242004

[147 rows x 6 columns]

In [131]:
#Objective 7.
#Instantiate the Logistic Regression model object, and use its ".fit(*args)" method to fit the model to the 
#training data.

logistic = LogisticRegression()
logistic = logistic.fit(X_train,y_train)

In [132]:
#Objective 8.
#Examine the model's coefficients by using its ".coef_" method.

pd.DataFrame({'column':X.columns.values, 'criteia': logistic.coef_.ravel()})

             column   criteia
0              Open -0.037933
1              High  0.019647
2               Low  0.083481
3             Close -0.059696
4  Close_15_Rolling -0.003120
5     Open_1_Change  0.028716

In [133]:
#Objective 9.
#Use the model's ".predict_proba(*args)" and ".predict(*args)" methods to generate predictions over the test set.

probabilities = logistic.predict_proba(X_test)
predictions = logistic.predict(X_test)

In [135]:
#Objective 10.
#Use the function "metrics.confusion_matrix(*args)" to create a confusion matrix comparing the predicted and true
#classification labels over the test set.

metrics.confusion_matrix(y_pred=predictions,y_true=y_test)

array([[16, 45],
       [25, 62]])

In [136]:
#Objective 11.
#Calculate the model's accuracy on the test set using its ".score(*args)" method.

logistic.score(X_test,y_test)

0.527027027027027

In [139]:
#Objective 12.
#Use five-fold cross validation to cross-check the accuracy of the model over different held-out test sets.  This
#is where you should use the function "cross_val_score(*args)".

cross_val = cross_val_score(LogisticRegression(),X,y, cv=4)
cross_val

array([0.56097561, 0.53658537, 0.49593496, 0.52459016])